
@import url("https://fonts.googleapis.com/css2? famille=Oswald:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");



body{
  background-image: url(./image/pokemon-6260ac99de1dfb15bf5f0311_f155ed319dc2b70b94474822.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  letter-spacing: 2px;
  font-family: "Courgette", cursive;
  color: #fcfefd;
  text-align: center;
}

.card {
  width:30%;
  background-color: #37a2ba90;
  box-shadow: 0px 0px 20px 12px #5b545484;
  }

.btn {
  background-color: #37589f;
  color: #e5e3db;
  border: 1px solid #f2c105;
}
